.popup-register {
  background-color: #C2E1DB;
  text-align: center;
  position: relative;
  border-radius: 24px;

  .popup-register {
    display: flex;
    justify-content: center;
    margin: 110px 42px 0 42px;
    @media (max-width: 991px) {
      display: block;
      margin: 80px 30px 0 30px;
    }
    &__close {
      display: flex;
      justify-content: end;
      position: absolute;
      top: 20px;
      right: 20px;

      button {
        cursor: pointer;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(45, 116, 138, 0.17);
        border: none;
        border-radius: 25px;
        padding: 8px 12px;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      padding-top: 24px;
      &__size {
        width: 150px;
        height: 150px;
        @media (max-width: 991px) {
          max-width: 100px;
          max-height: 100px;
        }
        img {
          width: 100%;
        }
      }
    }
  }

    &__form {
      width: 100%;

      &__title-small {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.8px;
        color: #2D3942;
        padding: 10px 0 12px 0;

        @media (max-width: 991px) {
          font-size: 16px;
          padding: 5px 0 6px 0;
        }
      }

      &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.8px;
        color: #2D3942;
        padding: 10px 0 12px 0;

        @media (max-width: 991px) {
          font-size: 16px;
          padding: 5px 0 6px 0;
        }
      }

      &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.8px;
        color: #576168;
        padding-bottom: 18px;

        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &__account {
        text-decoration-line: underline;
        font-weight: 700;
      }

      &__verified {
        color: #969CA0;
        font-size: 12px;
        line-height: 16px;
      }

      &__text {
        padding-bottom: 12px;

        &__error {
          text-align: center;
          font-size: 14px;
          line-height: 24px;
          color: #ea4b65;

          @media (max-width: 991px) {
            font-size: 12px;
            line-height: 18px;
          }
        }

        &__annotation {
          font-size: 14px;
          line-height: 24px;
          color: #969CA0;
        }

        input {
          width: 100%;
          max-width: 352px;
          padding: 7px;
          background: #FFFFFF;
          box-shadow: inset 0px 1.54327px 3.08655px rgba(0, 0, 0, 0.25);
          border-radius: 6.1731px;
          border: none;
          font-weight: 400;
          font-size: 14.9266px;
          line-height: 22px;
          letter-spacing: 0.05em;
          color: #969CA0;

          &.error {
            border: 1px solid #ea4b65;
            box-shadow: none;
          }
        }
      }

      &__verify {
        input {
          font-size: 60px;
          width: 18%;
          padding: 8px;
          text-align: center;

          @media (max-width: 991px) {
            width: 20%;
            font-size: 46px;
          }
        }

        .p-r {
          margin-right: 12px;
        }

      }

      &__submit {
        display: flex;
        justify-content: center;
        padding-top: 24px;

        .btn_green_dark-primary {
          padding: 6px 30px;
          border: none;
          font-weight: 600;
          font-size: 16.7924px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #FFFFFF;
          background-color: #6c998e;
          box-shadow: 0px 0px 7.71637px rgba(151, 188, 179, 0.7);
          border-radius: 29.3222px;

          &:active {
            background-color: #97BCB3;
          }
        }

        .btn-disabled {
          background-color: #97BCB3;
        }
      }
    }
}

::ng-deep .cdk-overlay-pane {
  width: 500px;
  @media (max-width: 991px) {
    max-width: 90vw !important;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 24px;
  }
}

