<section class="learning">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-10">
        <h2>After learning with Ponddy, your kids can</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-11">
        <div class="learning__can">
          <div class="learning__can__item">
            <div>
              <div class="img">
                <img [defaultImage]="'./assets/images/home/learning-item-1-w.png'" [lazyLoad]="'./assets/images/home/learning-item-1-w.png'" />
              </div>
              <div class="text p-b">
                <div class="text__w1">Master basic communication skills</div>
              </div>
            </div>
            <div>
              <div class="img">
                <img [defaultImage]="'./assets/images/home/learning-item-2-w.png'" [lazyLoad]="'./assets/images/home/learning-item-2-w.png'" />
              </div>
              <div class="text p-b">
                <div class="text__w2">Ask and express personal information</div>
              </div>
            </div>
          </div>
          <div class="learning__can__item">
            <div>
              <div class="img">
                <img [defaultImage]="'./assets/images/home/learning-item-3-w.png'" [lazyLoad]="'./assets/images/home/learning-item-3-w.png'" />
              </div>
              <div class="text p-b">
                <div class="text__w3">describe appearances, actions, and feelings</div>
              </div>
            </div>
            <div>
              <div class="img">
                <img [defaultImage]="'./assets/images/home/learning-item-4-w.png'" [lazyLoad]="'./assets/images/home/learning-item-4-w.png'" />
              </div>
              <div class="text">
                <div class="text__w4">Improve reading and writing skills</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
