<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-12">
        <h2>Learning Chinese with</h2>
        <h1>Ponddy Education</h1>
      </div>
    </div>
    <div class="row justify-content-center align-self-center no-gutters text-left">
      <div class="col-md-2 col-9 mr-2 ml-2">
        <div>
          <p class="title">Ponddy Tutors</p>
          <a href="/">Home</a><br>
          <a href="https://hsk.ponddy.com/home/" target="_blank">Ponddy x HSK</a><br>
          <a href="https://tutors.ponddy.com/ap_chinese/">AP® Chinese</a><br>
          <a href="https://tutors.ponddy.com/teens/">Teens Chinese</a><br>
          <a href="https://tutors.ponddy.com/adult_chinese/">Adult Chinese</a><br>
          <a href="https://tutors.ponddy.com/for_schools/">For School</a>
        </div>
      </div>
      <div class="col-md-3 col-9 mr-2 ml-2 m-w-200">
        <div>
          <p class="title">Products</p>
          <a href="https://tutors.ponddy.com/">Ponddy Tutors</a><br>
          <a href="https://reader.ponddy.com/" target="_blank">Ponddy Reader</a><br>
          <a href="https://stb.ponddy.com/landing/" target="_blank">Smart Textbooks</a><br>
        </div>
        <div>
          <p class="title">App</p>
          <a href="https://chinese.ponddy.com/products/app-dictionary/" target="_blank">Ponddy Dictionary</a>
        </div>
      </div>

      <div class="col-md-2 col-9 mr-2 ml-2">
        <div>
          <p class="title">About Ponddy</p>
          <a href="https://chinese.ponddy.com/" target="_blank">Ponddy Education</a><br>
          <a href="https://chinese.ponddy.com/career/" target="_blank">Career</a><br>
          <a href="https://blog.ponddy.com/" target="_blank">Blog</a><br>
        </div>
      </div>

      <div class="col-md-2 col-9 mr-2 ml-2">
        <div>
          <p class="title">Follow Us</p>
          <a class="mb-3" target="black" href='https://www.instagram.com/accounts/login/?next=/ponddyeducation/'>
            Instagram</a><br>
          <a class="mb-3" target="black" href='https://www.facebook.com/ponddyeducation/'>
            Facebook</a><br>
          <a class="mb-3" target="black" href='https://www.youtube.com/channel/UCX8GMbAnPXbenlJEgSU_vTQ'>
            Youtube</a>
        </div>
      </div>
    </div>
    <div class="copyright pt-3">
      <div class="description">
        <div>
          <a href="https://s3-us-west-1.amazonaws.com/ponddyreader-master/legal_documents/terms.html" target="_blank">Terms</a>
          <span> | </span>
          <a href="https://tutors-resources.s3-us-west-2.amazonaws.com/legal_documents/privacy_1.html" target="_blank">Privacy</a>
          <span *ngIf="web"> |&nbsp;</span>
        </div>
        <div>
          <a href="https://tutors-resources.s3-us-west-2.amazonaws.com/legal_documents/copyright+(1).html"
            target="_blank">Copyright © Ponddy</a> <span *ngIf="web">&nbsp;|&nbsp;</span>
        </div>
        <div>
           All Rights Reserved.
        </div>
      </div>
      <div class="re-captcha">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">  Privacy Policy </a>
        and
        <a href="https://policies.google.com/terms"> Terms of Service </a>
        apply.
      </div>
    </div>
  </div>
</footer>
